<%- include('./includes/head.ejs', {pageTitle: pageTitle }) %>

<%- include('./includes/head2.ejs') %>

<%- include('./includes/navigation.ejs', { user: user }) %>

<h1>Page you are searching not found!!!</h1>
<h3>Please check out in valid URL.</h3>
<h5>Wish you get soon what you are wishing for. </h5>

<%- include('./includes/footer.ejs') %>

<%- include('./includes/end.ejs') %>