<%- include('../includes/head.ejs', { pageTitle: pageTitle}) %>

<%- include('../includes/head2.ejs') %>

<%- include('../includes/navigation.ejs', { user: user }) %>

    <h1>Add Book</h1>
    <main>
        <div>
            <form action="" method="POST" enctype="multipart/form-data"> 
                Name: <input type="text" name="bookName" id="bookName"> <br><br>
                Image: <input type="file" name="image" id="image"><br><br>
                Publish Year: <input type="number" name="publishYear" id="publisYear"><br><br>
                Author: <select name="author" id="author">
                    <% for (let author of authors) { %> 
                        <option value="<%= author._id %>"><%= author.authorName %></option>
                    <% } %>
                </select> <br><br>
                Book-Rating: <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> <br><br>
                <button type="submit">Add Book</button>
            </form>
        </div>
    </main>
    
<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>