<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>

<%- include('../includes/head2.ejs') %>

<%- include('../includes/navigation.ejs', { user: user }) %>

    <h1>Add New Author</h1>
    <main>
        <div>
            <h3>First Check Author Name in author list </h3>
            <form action="/add-author" method="POST" enctype="multipart/form-data"> 

                Author-list: <select name="author" id="author">
                    <% for (let author of authors) { %> 
                        <option value="<%= author._id %>"><%= author.authorName %></option>
                    <% } %>
                </select> <br>
                <h3>Is their the author name in the list? If so you can add book of the author.</h3>
                <h3>Go to <u>'Add Book'</u> and add book.</h3>
                <button><a href="/add-book">Add Book</a></button><br><br>
                <h3>In case author's name not found in the list. Add Name Below: </h3>
                Name: <input type="text" name="authorName" id="authorName"> <br><br>
                Image: <input type="file" name="image" id="image"><br><br>


                <!-- Book-Rating: <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> <br> -->
                <button type="submit">Add Author</button>
            </form>
        </div>
    </main>
    
<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>