<%- include('../includes/head.ejs', {pageTitle: pageTitle }) %>

<%- include('../includes/head2.ejs') %>

<%- include('../includes/navigation.ejs', { user: user }) %>

<main>
    <h1><%= book.bookName %></h1>
    <hr>
    <div>
        <h3>Published Year: <%= book.publishYear %></h2>
    </div>
    <div>
        <h1>
            Author: <a href="/author-detail/<%= author._id%>"><%= author.authorName %> </a> 
        </h1>
    </div>
    <div>
        <h4>Rating: <%= book.rating %> </h4>
    </div>
    <% if (user) { %>
        <form action="/book-details/<%= book._id %>/review" method="POST">
            <h2>Review: </h2>
            <textarea name="review" id="review" cols="30" rows="10"><% if (myReview) { %><%= myReview.review %><% } %></textarea><br>
            Your Rating: 
            <select value="5" name="userRating" id="rating">
                <% for (let i = 1; i < 6; i++) { %>
                    <option value="<%= i %>" 
                        
                        <% if (myReview && myReview.rating == i) { %>
                            selected
                        <% } %>
                        
                        ><%= i %></option>
                <% } %>
            </select>
            <br> <br>

            <button type="submit">
                <% if (myReview) { %>
                    Update Review
                <% } else { %>
                    Review
                <% } %>
            </button>
        </form>
    <% } else { %>
        <h3>Please Login to review</h3>
    <% } %>
    <hr>
    <% if (myReview) { %>
        <article>
            <header>
                <h1>Your Review</h1>
                <b><%= myReview.user.name %></b>
                <h1><%= myReview.review %></h1>
                <h2><%= myReview.rating %></h2>
            </header>            
        </article>
        <hr>
    <% } %>
    <% for (let review of reviews) { %> 
        <article>
            <header>
                <b><%= review.user.name %></b>
                <h1><%= review.review %></h1>
                <h2><%= review.rating %></h2>
            </header>            
        </article>
    <% } %>
</main>

<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>