<%- include('../includes/head.ejs', {pageTitle: pageTitle }) %>

<%- include('../includes/head2.ejs') %>

<%- include('../includes/navigation.ejs', { user: user }) %>

    <main>
        <div>
            UOP: University of People
            <% for (let book of books) { %> 
                <article>
                    <header>
                        <h1><%= book.bookName %></h1>
                    </header>
                    <div>
                        <h3>Published Year: <%= book.publishYear %></h2>
                    </div>
                    <div>
                        <h1>Author: <%= authors.authorName %> </h1>
                    </div>
                    <div>
                        <h4>Rating: <%= book.rating %> </h4>
                    </div>
                    <div>
                        <button>
                            <a href="/book-details/<%= book._id %>">Detail</a>
                        </button>
                    </div>
                </article>
            <% } %>
        </div>
    </main>

<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>